{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
  <!--Check if there are book records in the DB and generate table if any-->
  {% if book_list %}
  <table border=1>
    <!--Generate table header-->
    <tr>
      <th> # </th>
      <th> Title </th>
      <th> Author </th>
    </tr>
    <!--Loop through book records and add a table row for each-->
    {% for book in book_list %}
    <tr>
      <th> {{ book.id }} </th>
      <!--Build a URL link to the related book data-->
      <th> <a href="{{ book.get_absolute_url }}"> {{ book.title }} </a></th>
      <th> {{book.author}} </th>
    </tr>
    {% endfor %}
  </table>
  <!--If there are no book records, display an error message-->
  {% else %}
  <p>There are no books in the library.</p>
  
  {% endif %} 

{% endblock %}